## Preprocessing

In [14]:
# Import the necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, Conv1D, MaxPooling1D, Flatten, Attention

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()


print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500


application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display the result
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

# Display the result
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_class = 100


classifications_to_replace = classification_counts[classification_counts < cutoff_value_class].index.tolist()



# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION', 'AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT'])

# Display the result
print(application_df_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   SPECIAL_CONSIDERATIONS_Y  INCOME_AMT_0  INCOME_AMT_1-9999  \
0                         0             1                  0
1                         0             0                  1
2                         0             1                  0
3                         0             0                  0
4                         0             0                  0

   INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  \
0                       0                         0                   0
1                       0                         0                   0
2                       0                         0                   0
3                       1                         0                   0
4                       0                         1                   0

   INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  INCOME_AMT_50M+  \
0                 0                       0                0
1                 0                       0                0
2                 0                       0                0
3                 0                       0                0
4                 0                       0                0

   INCOME_AMT_5M-10M
0                  0
1                  0
2                  0
3                  0
4                  0

[5 rows x 50 columns]

In [11]:
# Features (X) and Target (y) arrays
X = application_df_encoded.drop('IS_SUCCESSFUL', axis=1)
y = application_df_encoded['IS_SUCCESSFUL']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Display the shape of the training and testing sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (25724, 49)
X_test shape: (8575, 49)
y_train shape: (25724,)
y_test shape: (8575,)

In [12]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()


input_features = len(X_train.columns)

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=input_features, activation='relu', kernel_initializer='he_normal'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu', kernel_initializer='he_normal'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
model_history = nn.fit(X_train_scaled, y_train, epochs=50, verbose=2)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
cnn_model = Sequential()
cnn_model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(X_train_scaled.shape[1], 1)))
cnn_model.add(MaxPooling1D(pool_size=2))
cnn_model.add(Flatten())
cnn_model.add(Dense(units=64, activation='relu'))
cnn_model.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
cnn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 47, 64)            256

 max_pooling1d (MaxPooling1  (None, 23, 64)            0
 D)

 flatten (Flatten)           (None, 1472)              0

 dense (Dense)               (None, 64)                94272

 dense_1 (Dense)             (None, 1)                 65

=================================================================
Total params: 94593 (369.50 KB)
Trainable params: 94593 (369.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model
cnn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Train the model
model_history = cnn_model.fit(X_train_scaled, y_train, epochs=50, verbose=2)

Epoch 1/50
804/804 - 2s - loss: 0.5688 - accuracy: 0.7252 - 2s/epoch - 2ms/step
Epoch 2/50
804/804 - 1s - loss: 0.5558 - accuracy: 0.7290 - 1s/epoch - 1ms/step
Epoch 3/50
804/804 - 1s - loss: 0.5541 - accuracy: 0.7292 - 1s/epoch - 1ms/step
Epoch 4/50
804/804 - 1s - loss: 0.5524 - accuracy: 0.7291 - 1s/epoch - 1ms/step
Epoch 5/50
804/804 - 1s - loss: 0.5495 - accuracy: 0.7311 - 1s/epoch - 1ms/step
Epoch 6/50
804/804 - 1s - loss: 0.5495 - accuracy: 0.7314 - 1s/epoch - 1ms/step
Epoch 7/50
804/804 - 1s - loss: 0.5489 - accuracy: 0.7315 - 1s/epoch - 1ms/step
Epoch 8/50
804/804 - 1s - loss: 0.5469 - accuracy: 0.7334 - 1s/epoch - 1ms/step
Epoch 9/50
804/804 - 1s - loss: 0.5469 - accuracy: 0.7327 - 1s/epoch - 1ms/step
Epoch 10/50
804/804 - 1s - loss: 0.5459 - accuracy: 0.7336 - 1s/epoch - 1ms/step
Epoch 11/50
804/804 - 1s - loss: 0.5455 - accuracy: 0.7342 - 1s/epoch - 1ms/step
Epoch 12/50
804/804 - 1s - loss: 0.5454 - accuracy: 0.7336 - 1s/epoch - 1ms/step
Epoch 13/50
804/804 - 1s - loss: 0.5445 - accuracy: 0.7336 - 1s/epoch - 1ms/step
Epoch 14/50
804/804 - 1s - loss: 0.5449 - accuracy: 0.7356 - 1s/epoch - 1ms/step
Epoch 15/50
804/804 - 1s - loss: 0.5444 - accuracy: 0.7350 - 1s/epoch - 1ms/step
Epoch 16/50
804/804 - 1s - loss: 0.5436 - accuracy: 0.7336 - 1s/epoch - 1ms/step
Epoch 17/50
804/804 - 1s - loss: 0.5427 - accuracy: 0.7362 - 1s/epoch - 1ms/step
Epoch 18/50
804/804 - 1s - loss: 0.5427 - accuracy: 0.7349 - 1s/epoch - 1ms/step
Epoch 19/50
804/804 - 1s - loss: 0.5423 - accuracy: 0.7366 - 1s/epoch - 1ms/step
Epoch 20/50
804/804 - 1s - loss: 0.5423 - accuracy: 0.7352 - 1s/epoch - 1ms/step
Epoch 21/50
804/804 - 1s - loss: 0.5425 - accuracy: 0.7369 - 1s/epoch - 1ms/step
Epoch 22/50
804/804 - 1s - loss: 0.5415 - accuracy: 0.7363 - 1s/epoch - 1ms/step
Epoch 23/50
804/804 - 1s - loss: 0.5413 - accuracy: 0.7368 - 1s/epoch - 1ms/step
Epoch 24/50
804/804 - 1s - loss: 0.5410 - accuracy: 0.7359 - 1s/epoch - 1ms/step
Epoch 25/50
804/804 - 1s - loss: 0.5411 - accuracy: 0.7371 - 1s/epoch - 1ms/step
Epoch 26/50
804/804 - 1s - loss: 0.5407 - accuracy: 0.7369 - 1s/epoch - 1ms/step
Epoch 27/50
804/804 - 1s - loss: 0.5403 - accuracy: 0.7363 - 1s/epoch - 1ms/step
Epoch 28/50
804/804 - 1s - loss: 0.5407 - accuracy: 0.7359 - 1s/epoch - 1ms/step
Epoch 29/50
804/804 - 1s - loss: 0.5406 - accuracy: 0.7366 - 1s/epoch - 1ms/step
Epoch 30/50
804/804 - 1s - loss: 0.5398 - accuracy: 0.7373 - 1s/epoch - 1ms/step
Epoch 31/50
804/804 - 1s - loss: 0.5399 - accuracy: 0.7370 - 1s/epoch - 1ms/step
Epoch 32/50
804/804 - 1s - loss: 0.5396 - accuracy: 0.7370 - 1s/epoch - 1ms/step
Epoch 33/50
804/804 - 1s - loss: 0.5392 - accuracy: 0.7376 - 1s/epoch - 1ms/step
Epoch 34/50
804/804 - 1s - loss: 0.5402 - accuracy: 0.7383 - 1s/epoch - 1ms/step
Epoch 35/50
804/804 - 1s - loss: 0.5391 - accuracy: 0.7385 - 1s/epoch - 1ms/step
Epoch 36/50
804/804 - 1s - loss: 0.5395 - accuracy: 0.7379 - 1s/epoch - 1ms/step
Epoch 37/50
804/804 - 1s - loss: 0.5389 - accuracy: 0.7369 - 1s/epoch - 1ms/step
Epoch 38/50
804/804 - 1s - loss: 0.5384 - accuracy: 0.7383 - 1s/epoch - 1ms/step
Epoch 39/50
804/804 - 1s - loss: 0.5386 - accuracy: 0.7380 - 1s/epoch - 1ms/step
Epoch 40/50
804/804 - 1s - loss: 0.5385 - accuracy: 0.7374 - 1s/epoch - 1ms/step
Epoch 41/50
804/804 - 1s - loss: 0.5383 - accuracy: 0.7374 - 1s/epoch - 1ms/step
Epoch 42/50
804/804 - 1s - loss: 0.5385 - accuracy: 0.7383 - 1s/epoch - 1ms/step
Epoch 43/50
804/804 - 1s - loss: 0.5383 - accuracy: 0.7385 - 1s/epoch - 1ms/step
Epoch 44/50
804/804 - 1s - loss: 0.5378 - accuracy: 0.7394 - 1s/epoch - 1ms/step
Epoch 45/50
804/804 - 1s - loss: 0.5376 - accuracy: 0.7378 - 1s/epoch - 1ms/step
Epoch 46/50
804/804 - 1s - loss: 0.5381 - accuracy: 0.7380 - 1s/epoch - 1ms/step
Epoch 47/50
804/804 - 1s - loss: 0.5376 - accuracy: 0.7379 - 1s/epoch - 1ms/step
Epoch 48/50
804/804 - 1s - loss: 0.5378 - accuracy: 0.7381 - 1s/epoch - 1ms/step
Epoch 49/50
804/804 - 1s - loss: 0.5380 - accuracy: 0.7385 - 1s/epoch - 1ms/step
Epoch 50/50
804/804 - 1s - loss: 0.5376 - accuracy: 0.7384 - 1s/epoch - 1ms/step

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = cnn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5563 - accuracy: 0.7237 - 345ms/epoch - 1ms/step
Loss: 0.5562822818756104, Accuracy: 0.7237317562103271

In [22]:
rnn_model = Sequential()
rnn_model.add(LSTM(units=50, activation='relu', input_shape=(X_train_scaled.shape[1], 1)))
rnn_model.add(Dense(units=1, activation='sigmoid'))

rnn_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_1 (LSTM)               (None, 50)                10400

 dense_3 (Dense)             (None, 1)                 51

=================================================================
Total params: 10451 (40.82 KB)
Trainable params: 10451 (40.82 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
# Compile the model
rnn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [24]:
# Train the model
model_history = rnn_model.fit(X_train_scaled, y_train, epochs=50, verbose=2)

Epoch 1/50
804/804 - 6s - loss: 0.6714 - accuracy: 0.5811 - 6s/epoch - 7ms/step
Epoch 2/50
804/804 - 5s - loss: 0.6004 - accuracy: 0.7017 - 5s/epoch - 6ms/step
Epoch 3/50
804/804 - 5s - loss: 0.5806 - accuracy: 0.7198 - 5s/epoch - 6ms/step
Epoch 4/50
804/804 - 5s - loss: 0.5708 - accuracy: 0.7254 - 5s/epoch - 6ms/step
Epoch 5/50
804/804 - 5s - loss: 0.5692 - accuracy: 0.7237 - 5s/epoch - 6ms/step
Epoch 6/50
804/804 - 5s - loss: 0.5639 - accuracy: 0.7263 - 5s/epoch - 6ms/step
Epoch 7/50
804/804 - 5s - loss: 0.5631 - accuracy: 0.7266 - 5s/epoch - 6ms/step
Epoch 8/50
804/804 - 5s - loss: 0.5641 - accuracy: 0.7258 - 5s/epoch - 6ms/step
Epoch 9/50
804/804 - 5s - loss: 0.6434 - accuracy: 0.7290 - 5s/epoch - 7ms/step
Epoch 10/50
804/804 - 5s - loss: 0.5599 - accuracy: 0.7290 - 5s/epoch - 7ms/step
Epoch 11/50
804/804 - 5s - loss: 0.5576 - accuracy: 0.7297 - 5s/epoch - 7ms/step
Epoch 12/50
804/804 - 5s - loss: 0.5564 - accuracy: 0.7289 - 5s/epoch - 6ms/step
Epoch 13/50
804/804 - 5s - loss: 0.5559 - accuracy: 0.7301 - 5s/epoch - 6ms/step
Epoch 14/50
804/804 - 5s - loss: 0.5554 - accuracy: 0.7307 - 5s/epoch - 6ms/step
Epoch 15/50
804/804 - 5s - loss: 0.5539 - accuracy: 0.7309 - 5s/epoch - 6ms/step
Epoch 16/50
804/804 - 5s - loss: 0.6196 - accuracy: 0.7280 - 5s/epoch - 6ms/step
Epoch 17/50
804/804 - 5s - loss: 2053.4783 - accuracy: 0.6213 - 5s/epoch - 6ms/step
Epoch 18/50
804/804 - 5s - loss: 64172.0117 - accuracy: 0.4949 - 5s/epoch - 6ms/step
Epoch 19/50
804/804 - 5s - loss: 344.6583 - accuracy: 0.5147 - 5s/epoch - 6ms/step
Epoch 20/50
804/804 - 5s - loss: 47.2516 - accuracy: 0.5065 - 5s/epoch - 6ms/step
Epoch 21/50
804/804 - 5s - loss: 21.8192 - accuracy: 0.4982 - 5s/epoch - 6ms/step
Epoch 22/50
804/804 - 5s - loss: 1.8379 - accuracy: 0.5303 - 5s/epoch - 6ms/step
Epoch 23/50
804/804 - 5s - loss: 0.9787 - accuracy: 0.5142 - 5s/epoch - 6ms/step
Epoch 24/50
804/804 - 5s - loss: 0.9225 - accuracy: 0.5585 - 5s/epoch - 6ms/step
Epoch 25/50
804/804 - 5s - loss: 0.8356 - accuracy: 0.5495 - 5s/epoch - 6ms/step
Epoch 26/50
804/804 - 5s - loss: 0.7805 - accuracy: 0.5278 - 5s/epoch - 6ms/step
Epoch 27/50
804/804 - 5s - loss: 0.7625 - accuracy: 0.5184 - 5s/epoch - 6ms/step
Epoch 28/50
804/804 - 5s - loss: 0.7354 - accuracy: 0.5295 - 5s/epoch - 6ms/step
Epoch 29/50
804/804 - 5s - loss: 0.7220 - accuracy: 0.5292 - 5s/epoch - 6ms/step
Epoch 30/50
804/804 - 5s - loss: 0.7110 - accuracy: 0.5278 - 5s/epoch - 6ms/step
Epoch 31/50
804/804 - 5s - loss: 0.7000 - accuracy: 0.5423 - 5s/epoch - 6ms/step
Epoch 32/50
804/804 - 5s - loss: 0.6977 - accuracy: 0.5466 - 5s/epoch - 6ms/step
Epoch 33/50
804/804 - 5s - loss: 0.6913 - accuracy: 0.5580 - 5s/epoch - 7ms/step
Epoch 34/50
804/804 - 5s - loss: 0.6936 - accuracy: 0.5710 - 5s/epoch - 6ms/step
Epoch 35/50
804/804 - 5s - loss: 0.6777 - accuracy: 0.5750 - 5s/epoch - 7ms/step
Epoch 36/50
804/804 - 5s - loss: 1.2503 - accuracy: 0.6228 - 5s/epoch - 6ms/step
Epoch 37/50
804/804 - 5s - loss: 1.4947 - accuracy: 0.6283 - 5s/epoch - 6ms/step
Epoch 38/50
804/804 - 5s - loss: 0.6750 - accuracy: 0.6188 - 5s/epoch - 6ms/step
Epoch 39/50
804/804 - 5s - loss: 3.6750 - accuracy: 0.5881 - 5s/epoch - 6ms/step
Epoch 40/50
804/804 - 5s - loss: 2.2305 - accuracy: 0.6837 - 5s/epoch - 6ms/step
Epoch 41/50
804/804 - 5s - loss: 280.4112 - accuracy: 0.6771 - 5s/epoch - 6ms/step
Epoch 42/50
804/804 - 5s - loss: 0.5953 - accuracy: 0.7113 - 5s/epoch - 6ms/step
Epoch 43/50
804/804 - 5s - loss: 0.5950 - accuracy: 0.7036 - 5s/epoch - 6ms/step
Epoch 44/50
804/804 - 5s - loss: 0.5804 - accuracy: 0.7213 - 5s/epoch - 6ms/step
Epoch 45/50
804/804 - 5s - loss: 0.5781 - accuracy: 0.7214 - 5s/epoch - 6ms/step
Epoch 46/50
804/804 - 5s - loss: 0.5776 - accuracy: 0.7219 - 5s/epoch - 6ms/step
Epoch 47/50
804/804 - 5s - loss: 0.5767 - accuracy: 0.7229 - 5s/epoch - 6ms/step
Epoch 48/50
804/804 - 5s - loss: 0.5759 - accuracy: 0.7223 - 5s/epoch - 6ms/step
Epoch 49/50
804/804 - 5s - loss: 0.5777 - accuracy: 0.7237 - 5s/epoch - 6ms/step
Epoch 50/50
804/804 - 5s - loss: 0.5766 - accuracy: 0.7248 - 5s/epoch - 6ms/step

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = cnn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5593 - accuracy: 0.7236 - 292ms/epoch - 1ms/step
Loss: 0.5592671036720276, Accuracy: 0.7236151695251465

In [26]:
# Export our model to HDF5 file
model_path = "C:/Users/Noahb/OneDrive/Desktop/class/homework/deep-learning-challenge/deep-learning-challenge_model.h5"

# Save the model to an HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

NameError: name 'nn' is not defined